<h1 class="center mt-3">Ici retrouvez tous les meilleurs poissons de France !</h1>
<div class="center m-4">
  <%= link_to "S'inscrire", new_user_session_path, class: "button-frozen", id:"btn-top"  %>
  <%= link_to "Se connecter", user_session_path, class: "button-contour" %>
</div>

<div class="cards center">
  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1535591273668-578e31182c4f?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1535591273668-578e31182c4f?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1535591273668-578e31182c4f?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
