.button-frozen {
  background-color: $frozen;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: background-color 0,7 ease-in-out;
   &:hover {
    background-color: #7fc8f8;
  }
}

.button-contour {
  border: 1px solid $frozen;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
  color : $frozen;
  &:hover {
    border: 1px solid  #7fc8f8;
    color: #7fc8f8
  }
}

#btn-top {
  font-size: 18px;
}

#btn-show{
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-bottom-right{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// .blue{
//   display: block;
//   width: 20px;
//   height: 20px;
//   background-color: $frozen;
//   color: white;
//   border-radius: 50%;
//   padding: 5px;
//   text-decoration: none;
//   transition: background-color 0,7 ease-in-out;
//    &:hover {
//     background-color: #7fc8f8;
//   }
// }
