.card {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 18px;
  margin-bottom: 20px;
  p {
    font-size: 12px;
  }
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cards {
  display: flex;
  justify-content: center;
}

.card-simple{
  display: flex;
  flex-direction : column;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  width: 400px;
  height: 325px;
  position: sticky;
  top: 10px;
}

.card-product {
  overflow: hidden;
  height: 150px;
  width: 596px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 8px;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 8px;}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-wrap{
  display: flex;
  flex-wrap: wrap;
}
